#app{
    padding: 30px;
}
.search{
    margin-bottom:40px;
}
.finish-icon{
    width: 24px;
    height: 24px;
    background: url('../img/finish-icon.svg') no-repeat center/cover;
}
.card{
    position: relative;
}
.card-close{
    cursor: pointer;
    position: absolute;
    top:10px;
    right: 10px;
    width:36px;
    height: 36px;
    background: url('../img/danger-cross.svg') no-repeat center/cover;
}