<template>
    <div>
        <div class="card">
            <img class="card-img-top" :src="info.thumbnail_url ? info.thumbnail_url : ''" alt="">
            <div class="card-body">
                <h3 class="card-title">{{ info.title ? info.title : 'Заголовок не указан' }}</h3>
                <p class="card-text">{{info.description ? info.description : 'Описание не указано'}}</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center col-lg-12">
                <div v-if="info.status === 0 || info.status === 3">
                    <button type="button" class="btn btn-primary btn-lg" @click="$emit('download', info.id)">Скачать</button>
                </div>
                <div class="d-flex align-items-center col-lg-12" v-if="info.status === 1">
                    <p style="margin: 0">Видео загружается...</p>
                </div>
                <div class="d-flex align-items-center justify-content-between col-lg-12" v-if="info.status === 2">
                    <p style="margin: 0 5px 0 0">Видео успешно загружено</p>
                    <div class="finish-icon"></div>
                </div>
                <div class="d-flex align-items-center justify-content-between col-lg-12" v-if="info.status === 3">
                    <p style="margin: 0 5px 0 0">Ошибка загрузки видео</p>
                </div>
            </div>
            <div v-if="info.status === 2" class="card-close" title="Удалить видео" @click="$emit('delete', info.id)"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CardComponent",
        props:{
            info:{
                type:Object,
                default: () => {},
            },
        },
    }
</script>
