<template>
    <div class="container">
        <div class="search col-lg-12">
            <search-component :errorMessage = "errorMessage" @getInfo="getVideoInfo"></search-component>
        </div>
        <div v-if="videos.length > 0" class="card-components col-lg-12">
            <card-component class="col-lg-4 mb-5 center-block" 
                            v-for="(singleVideo, index) of videos" 
                            :key="index" 
                            :info="singleVideo" 
                            @download="downloadVideo"
                            @delete="deleteVideo">
            </card-component>
        </div>
        <h2 class="col-lg-12" v-else>Добавьте на скачку новое видео!</h2>
        <modal-component :message="modalMessage"></modal-component>
    </div>
</template>

<script>
import axios from 'axios';
import CardComponent from './CardComponent.vue';
import SearchComponent from './SearchComponent.vue';
import ModalComponent from './ModalComponent.vue';
export default {
    name: "MainComponent",
    components:{
        SearchComponent,
        CardComponent,
        ModalComponent   
    },
    mounted(){
        this.getVideos();
        window.Echo.channel('videos')
            .listen('.videos.new', (response) => {
                const id = response.id;
                const status = response.status;
                const videoIndex = this.videos.findIndex(videoElement => videoElement.id === id);
                let newVideoItem = this.videos[videoIndex];

                newVideoItem.status = status;
                Vue.set(this.videos, videoIndex, newVideoItem);
            })
    },
    data(){
        return{
            modalMessage: null,
            videos: [],
            errorMessage: null,
        };
    },
    methods:{
        getVideoInfo(url){
            this.errorMessage = null;
            const self = this;
            axios.get(`api/video-info?url=${url}`)
            .then(function (result){
                self.videos.push(result.data.data);
            })
            .catch(function (error){
                self.errorMessage = "URL введён неверно или такое видео уже существует";
            });
        },
        downloadVideo(videoId){
            this.errorMessage = null;
            const self = this;
            axios.post('api/add-video', {
                    id: videoId,
                })
        },
        getVideos(){
            const self = this;
            axios.get('api/videos')
                .then(function (res){
                    self.videos = res.data.data;
                });
        },
        deleteVideo(videoId){
            this.errorMessage = null;
            const self = this;
            axios.delete(`api/videos/${videoId}`)
                .then(function (res){
                    self.videos = self.videos.filter(videoElement => videoElement.id !== videoId );
                });
        }
    }
}
</script>
