<template>
    <div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Введите url</label>
            <input type="email" class="form-control mb-5" id="exampleFormControlInput1" placeholder="Url видео" v-model="url">
            <button type="button" class="btn btn-primary btn-lg" @click="$emit('getInfo', url)">Загрузить</button>
        </div>
        <div v-if="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
        </div>
    </div>
</template>

<script>
    export default {
        name: "SearchComponent",
        data(){
            return{
                url: null,
            };
        },
        props:{
            errorMessage:{
                type: String,
                default: null,
            }
        }
    }
</script>
